<ion-header [translucent]="true">
  <ion-toolbar color="dark ">
    <ion-title>
        Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Procurarq"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="end">
        <img src="https://www.themoviedb.org/t/p/w1280/w8Hi3GI4q1oR6EImrDWrAQFn8Ha.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h1>teste</h1>
        <p>Duração:</p>
        <p>Generos:</p>
      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
